﻿@{
    ViewBag.Title = "Details";
}
<main id="content">
    <div class="bg-gray-1100 dark pb-5">
        <div class="container px-md-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb dark flex-nowrap flex-md-wrap overflow-auto overflow-md-hidden">
                    <li class="breadcrumb-item flex-shrink-0 flex-shrink-md-1"><a href="#">Home</a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-shrink-md-1"><a href="#">Mystery</a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-shrink-md-1"><a href="#">13 Reason Why</a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-shrink-md-1"><a href="#">Season 1</a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-shrink-md-1 active" aria-current="page">
                        Tape 3,
                        Side A
                    </li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-md-9">
                    <div class="mb-6 mb-md-0">
                        <div class="mb-5 pb-1">
                            <iframe class="w-100" height="500" src="https://www.youtube.com/embed/0XuOkYlUWIs"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="row no-gutters mb-5 mb-lg-1">
                            <div class="col-lg">
                                <div class="mb-4 mb-md-0 pr-lg-5 pr-wd-0">
                                    <h6 class="font-size-26 text-white font-weight-medium font-secondary mb-5 text-lh-sm">
                                        13 Reasons Why - S01E03 - Tape 3, Side A
                                    </h6>
                                    <ul class="list-unstyled nav nav-meta font-secondary mb-3">
                                        <li class="text-gray-1300 flex-shrink-0 flex-shrink-md-1">30 Min</li>
                                        <li class="text-gray-1300 flex-shrink-0 flex-shrink-md-1">
                                            Added: 31.03.2020
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-auto">
                                <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-6 pb-1">
                                    <a href="#" class="d-flex align-items-center h-white">
                                        <div class="border border-gray-5400 rounded-circle px-3 py-2 border-rounded">
                                            <i class="fa fa-chevron-left text-gray-5400 font-size-16 my-1"></i>
                                        </div>
                                        <span class="text-primary font-size-1 mx-2 text-lh-1dot4 text-center">
                                            Previous
                                            Episode
                                        </span>
                                    </a>
                                    <span class="text-gray-1300">|</span>
                                    <a href="#" class="d-flex align-items-center h-white">
                                        <span class="text-primary font-size-1 mx-2 text-lh-1dot4 text-center">
                                            Next
                                            Episode
                                        </span>
                                        <div class="border border-gray-5400 rounded-circle px-3 py-2 border-rounded">
                                            <i class="fa fa-chevron-right text-gray-5400 font-size-16 my-1"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="d-flex justify-content-lg-end">
                                    <div>
                                        <i class="fa fa-star text-primary font-size-42"></i>
                                    </div>
                                    <div class="text-lh-1 ml-1">
                                        <div class="text-primary font-size-24 font-weight-semi-bold">0.0</div>
                                        <span class="text-gray-1300 font-size-12">1 Vote</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center text-gray-1300 mb-4 font-secondary">
                            <div>
                                <i class="fa fa-eye font-size-18"></i>
                                <span class="font-size-12 font-weight-semi-bold ml-1">1.1k views</span>
                            </div>
                            <div class="ml-6">
                                <a href="#" class="text-gray-1300">
                                    <i class="fa fa-thumbs-up font-size-18"></i>
                                </a>
                                <span class="font-size-12 font-weight-semi-bold ml-1">7+</span>
                            </div>
                        </div>
                        <p class="mb-6 mb-lg-10 font-size-15 text-gray-1800 pr-lg-6 text-lh-lg">
                            Praesent iaculis,
                            purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec
                            porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.
                            Nam vulputate libero quis nisi euismod rhoncus. Sed eu euismod felis. Aenean ullamcorper
                            dapibus odio ac tempor. Aliquam iaculis, quam vitae imperdiet consectetur, mi ante
                            semper metus, ac efficitur nisi justo ut eros. Maecenas suscipit turpis fermentum
                            elementum scelerisque.
                        </p>
                        <div>
                            <div class="tab-nav__v10">
                                <ul class="nav justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active pb-3" id="pills-one-code-features-example-tab"
                                           data-toggle="pill" href="#pills-one-code-features-example" role="tab"
                                           aria-controls="pills-two-code-features-example"
                                           aria-selected="true">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pb-3" id="pills-two-code-features-example-tab"
                                           data-toggle="pill" href="#pills-two-code-features-example" role="tab"
                                           aria-controls="pills-two-code-features-example"
                                           aria-selected="false">Review</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bg-gray-3100">
                                <div class="container px-md-5 py-5 pt-lg-7 pb-lg-9">
                                    <div class="tab-content mb-1">
                                        <div class="tab-pane fade show active" id="pills-one-code-features-example"
                                             role="tabpanel" aria-labelledby="pills-one-code-features-example-tab">
                                            <p class="text-white mb-0 line-height-lg">
                                                Praesent iaculis, purus ac
                                                vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget
                                                elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus
                                                nibh eu nunc volutpat suscipit. Nam vulputate libero quis nisi
                                                euismod rhoncus. Sed eu euismod felis. Aenean ullamcorper dapibus
                                                odio ac tempor. Aliquam iaculis, quam vitae imperdiet consectetur,
                                                mi ante semper metus, ac efficitur nisi justo ut eros. Maecenas
                                                suscipit turpis fermentum elementum scelerisque.Sed leo elit,
                                                volutpat quis aliquet eu, elementum eget arcu. Aenean ligula tellus,
                                                malesuada eu ultrices vel, vulputate sit amet metus. Donec tincidunt
                                                sapien ut enim feugiat, sed egestas dolor ornare.
                                            </p>
                                        </div>
                                        <div class="tab-pane fade" id="pills-two-code-features-example"
                                             role="tabpanel" aria-labelledby="pills-two-code-features-example-tab">
                                            <div class="home-section">
                                                <header class="d-md-flex align-items-center justify-content-between mb-3 pb-1 w-100">
                                                    <h6 class="section-title-dark d-block position-relative font-size-18 font-weight-medium overflow-md-hidden m-0 text-white flex-grow-1">
                                                        Add a review
                                                    </h6>
                                                </header>
                                            </div>
                                            <div class="text-gray-1300 mb-8">
                                                You must be
                                                <a href="#">logged in</a> to post a review.
                                            </div>
                                            <div>
                                                <div class="font-size-24 font-weight-medium font-secondary text-white mb-4">
                                                    User Reviews
                                                </div>
                                                <div class="d-flex">
                                                    <div>
                                                        <img class="img-fluid rounded-circle"
                                                             src="assets/img/36x36/img1.jpg"
                                                             alt="Image-Description">
                                                    </div>
                                                    <div class="ml-3">
                                                        <div class="mb-2">
                                                            <span class="text-white font-size-1 font-weight-bold">
                                                                Akther
                                                                jabeen
                                                            </span>
                                                            <span class="text-gray-1300 ml-1 font-size-12">
                                                                March 4,
                                                                2020
                                                            </span>
                                                        </div>
                                                        <div class="text-gray-1300 font-size-13 mb-2">Good</div>
                                                        <div class="text-gray-1300">
                                                            <a href="#" class="text-gray-1300">
                                                                <i class="fa fa-thumbs-up font-size-18"></i>
                                                            </a>
                                                            <span class="font-size-12 font-weight-semi-bold ml-1">1+</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pl-md-2 ml-md-1">
                        <div class="product">
                            <div class="row mx-n2 mb-7">
                                <div class="col-md-6 px-2">
                                    <div class="product-image mb-2">
                                        <a href="single-episodes-v1.html"
                                           class="d-inline-block position-relative stretched-link" tabindex="0">
                                            <img class="img-fluid" src="assets/img/970x550/img17.jpg"
                                                 alt="Image Description">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 px-2">
                                    <div>
                                        <div class="product-meta font-size-12">
                                            <span>
                                                <a href="single-episodes-v1.html" class="h-g-primary"
                                                   tabindex="0">Crime</a>
                                            </span>
                                            <span>
                                                <a href="single-episodes-v1.html" class="h-g-primary"
                                                   tabindex="0">Drama</a>
                                            </span>
                                            <span>
                                                <a href="single-episodes-v1.html" class="h-g-primary"
                                                   tabindex="0">2020</a>
                                            </span>
                                        </div>
                                        <div class="product-title font-size-19 font-weight-bold mb-0">
                                            <a href="single-episodes-v1.html" tabindex="0">Breaking Bad</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5 pb-1">
                            <h6 class="font-size-24 font-weight-medium text-white border-bottom mb-3 pb-2 border-gray-5800">
                                Seasons
                            </h6>
                            <div class="tab-nav__14">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link pb-1 active" id="pills-one-code-features-example1-tab"
                                           data-toggle="pill" href="#pills-one-code-features-example1" role="tab"
                                           aria-controls="pills-two-code-features-example1"
                                           aria-selected="true">
                                            Season 1
                                        </a>
                                        <span>(5)</span>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-two-code-features-example1-tab"
                                           data-toggle="pill" href="#pills-two-code-features-example1" role="tab"
                                           aria-controls="pills-two-code-features-example1"
                                           aria-selected="false">
                                            Season 2
                                        </a>
                                        <span>(5)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="pills-one-code-features-example1"
                                 role="tabpanel" aria-labelledby="pills-one-code-features-example1-tab">
                                <h6 class="font-size-24 font-weight-medium text-white border-bottom mb-3 pb-2 border-gray-5800">
                                    Episodes of Season 1
                                </h6>
                                <div class="font-size-1 mb-2">
                                    <a href="single-episodes-v2.html" class="text-gray-1300 h-color-white">
                                        <span>S01E01</span>
                                        <span>Tape 1, Side A</span>
                                    </a>
                                </div>
                                <div class="font-size-1 mb-2">
                                    <a href="single-episodes-v2.html" class="text-gray-1300 h-color-white">
                                        <span>S01E02</span>
                                        <span>Tape 1, Side B</span>
                                    </a>
                                </div>
                                <div class="font-size-1 mb-2">
                                    <a href="single-episodes-v2.html" class="text-gray-1300 h-color-white">
                                        <span>S01E03</span>
                                        <span>Tape 2, Side A</span>
                                    </a>
                                </div>
                                <div class="font-size-1 mb-2">
                                    <a href="single-episodes-v2.html" class="text-gray-1300 h-color-white">
                                        <span>S01E04</span>
                                        <span>Tape 2, Side B</span>
                                    </a>
                                </div>
                                <div class="font-size-1">
                                    <a href="single-episodes-v2.html" class="text-gray-1300 h-color-white">
                                        <span>S01E05</span>
                                        <span>Tape 3, Side A</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-two-code-features-example1" role="tabpanel"
                                 aria-labelledby="pills-two-code-features-example1-tab">
                                <h6 class="font-size-24 font-weight-medium text-white border-bottom mb-3 pb-2 border-gray-5800">
                                    Episodes of Season 2
                                </h6>
                                <div class="font-size-1 mb-2">
                                    <a href="single-episodes-v2.html" class="text-gray-1300 h-color-white">
                                        <span>S02E01</span>
                                        <span>The First Polaraid</span>
                                    </a>
                                </div>
                                <div class="font-size-1 mb-2">
                                    <a href="single-episodes-v2.html" class="text-gray-1300 h-color-white">
                                        <span>S01E02</span>
                                        <span>Two Girls Kissing</span>
                                    </a>
                                </div>
                                <div class="font-size-1 mb-2">
                                    <a href="single-episodes-v2.html" class="text-gray-1300 h-color-white">
                                        <span>S01E03</span>
                                        <span>The Drunk Slut</span>
                                    </a>
                                </div>
                                <div class="font-size-1 mb-2">
                                    <a href="single-episodes-v2.html" class="text-gray-1300 h-color-white">
                                        <span>S01E04</span>
                                        <span>The Second Polaraid</span>
                                    </a>
                                </div>
                                <div class="font-size-1">
                                    <a href="single-episodes-v2.html" class="text-gray-1300 h-color-white">
                                        <span>S01E05</span>
                                        <span>The Chalk Machine</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
